body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
    background-image: url('Se connecter.jpg'); /* Image en fond */
    background-size: cover; /* Ajuste l'image pour couvrir tout l'écran */
    background-position: top; /* Centre l'image */
    background-repeat: no-repeat; /* Empêche la répétition */
}

/* Styles pour le titre */
h1 {
    color: #2118a1;
}